<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>About Brayden</title>
    <meta charset="UTF-8">
    </div>
</head>

<body>
    <div>
    <button onclick="typeWriter()">Click me</button>

    <p id="demo"></p>

    <script>
        var i = 0;
        var txt = 'I am Brayden and I have no idea what I am doing.';
        var speed = 50;

        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("demo").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWrit333443er, speed);
            }
        }
    </script>
    <div/>
    <div layout:fragment="content" th:remove="tag">
    <div class="contact" style="height: 100vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <p>I am an expert programmer in scratch.</p>
        </div>
        <div class="row justify-content-left" style="margin: 2%;">
            <ui><a href="https://github.com/BraydenBasinger">My Github</a></ui>
        </div>
        <div class="row justify-content-left" style="margin: 2%;">     
        </div>
            <p> <img src="../images/BraydenCarry.jpg" style="width:700px;height:522px" > </p>
        </div>
    </div>
</div>
</body>
</html>