<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>About Nicholas</title>
    <meta charset="UTF-8">
    </div>
</head>

<body style="color:black">
    <div layout:fragment="content" th:remove="tag">
        <div class="contact" style="height: 40vh;">
            <div class="row justify-content-left" style="margin: 2%;">
                <p> <img src="../images/nick.png" alt="nick.png"> </p>
            </div>
            <div class="row justify-content-left" style="margin: 2%;">
                <p>Hi, I'm Nicholas. I'm an amateur programmer, and I'm familiar with C, Python, and JavaScript.</p>
            </div>
            <div class="row justify-content-left" style="margin: 2%;">
                <p><a href="https://github.com/ncrxue">My Github</a></p>
            </div>
        </div>
    </div>
</body>
</html>