<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Ascii Art</title>
    </div>
</head>
<body>
<div>
    <div layout:fragment="content" th:remove="tag">
    <input type="file" id="myFile" name="filename">
    <input type="submit">
    </div>
</form>
</div>
<div>
    <p style="color:black;">
        ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / / - ^ " ; ; " ^ - / ) ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~
        / * / * / * / * / * / * / * / _ / ~ ^ - , , , , , , , , , , - _ - ) / * / * / * / * / * / * / * / ~
        ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ : : , , , , , , , , , , , , , , , , , - ~ ) / ~ / ~ / ~ / ~ / ~ / * /
        / * / * / * / * / * / _ ) ' , , , , , , , , , , , , , , , , , , , , , , - ~ ) ^ ) ^ ) ^ ) ^ / ~ / ~
        ~ / ~ / ~ / ~ / ~ / ~ / , , , , , , , , , , , , , , , , , , , , , , , , , , : ) ~ / ~ / ~ / _ / * /
        / * / * / * / * / ) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ~ ) ^ ) ^ / ^ / ~ /
        ~ / ~ / ~ / ~ / : - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ~ / ~ / ~ ) ~ + ~
        / * / * / * / ~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - , , , , ~ ) ^ ) ~ / ~ /
        ~ / ~ / ~ / : , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , : ~ , , , , ~ / ~ / ~ + ~
        / * / * / ) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , " _ ^ , , , : + ~ / ~ /
        / ~ / ~ ) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ) ~ , , - / ) ~ + ~
        ~ + ~ / - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ^ / ~ , , ' / ~ / ~
        / ~ / ~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - / ) - , , ) / * /
        ~ + / ' , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ~ ~ ) - , - ) ~ /
        ~ / : , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ) / ~ , , ~ / ~
        / _ ; , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - / ~ ) , , - ) ~
        ~ / , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ) / ~ - , , ~ /
        / ~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ` : , , , , ^ ~
        ~ ^ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - /
        ) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ~
        ~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ~
        , , , , , , , , , , , , , , , , , , , , , , , - - : - , , , , , , , , , , , , , , , , , , , , , , ;
        ^ , , , , , , , , , , , , , , , , , , , , ^ ) / ) / ) ) / - , , , , , , , , , , , , , , , , , , , ^
        ; , , , , , , , , , , , , , , , , , , - _ ~ / ~ ^ ~ / ~ ) ) ' , , , , , , , , , , , , , , , , , , -
        ; , , , , , , , , , , , , , , , , , , ~ / ) ^ ) / ~ _ / ^ / ) - , , , , , , , , , , , , , , , , , -
        : , , , , , , , , , , , , , , , , , , ) ~ - / ~ ~ / ~ ~ ~ / ~ - , , , , , , , , , , , , , , , , , -
        ; , , , , , , , , , , , , , , , , , ^ ~ ) / ~ / ) ~ / + / _ _ ^ , , , , , , , , , , , , , , , , , -
        ; , , , , , , , , , , , , , , , , , ^ , - ^ ) ~ / ) ~ ) ~ - , ^ , , , , , , , , , , , , , , , , , -
        ^ , , , , , , , , , , , , , , , , , - , , , , - - - - - , , , ^ , , , , , , , , , , , , , , , , , '
        : , , , , , , , , , , , , , , , , , , ; , , , , , , , , , , , - , , , , , , , , , , , , , , , , , -
        ~ , , , , , , , , , , , , , , , , , , ~ , , , , , , , , , , ^ , , , , , , , , , , , , , , , , , , ^
        ~ , , , , , , , , , , , , , , , , , , ^ , , , , , , , , , , ^ , , , , , , , , , , , , , , , , , , ~
        _ , , , , , , , , , , , , , , , , , , - ; , , , , , , , , , ^ , , , , , , , , , , , , , , , , , , /
        / - , , , , , , , , , , , , , , , , , , ~ , , , , , , , , ; , , , , , , , , , , , , , , , , , , - )
        _ ~ , , , , , , , , , , , , , , , , , , - , , , , , , , , ~ , , , , , , , , , , , , , , , , , , ' /
        / / - , , , , , , , , , , , , , , , , , ~ - , , , , , , , : , , , , , , , , , , , , , , , , , , ~ )
        / _ ^ , , , , , , , , , , , , , , , , , , ^ , , , , , , ; - , , , , , , , , , , , , , , , , , : / ~
        ~ / : , , , , , , , , , , , , , , , , , , : , , , , , , : , , , , , , , , , , , , , , , , , , : ) ~
        / ~ ) ' , , , , , , , , , , , , , , , , , ^ - , , , , , , , , , , , , , , , , , , , , , , , , ) ~ /
        ~ + / ) , , , , , , , , , , , , , , , , , , ^ , , , , ; - , , , , , , , , , , , , , , , , , ~ / ~ +
        / ~ ~ / ^ , , , , , , , , , , , , , , , , , " ^ ) ) " ~ , , , , , , , , , , , , , , , , , - / _ / ~
        ~ + ~ / ) - , , , , , , , , , , , , , , , ; ) / ~ ~ ~ L - , , , , , , , , , , , , , , , , / ) ^ / ~
        / ~ / ~ ~ ~ , , , , , , , , , , , , , , , _ / : / ~ / ~ [ , , , , , , , , , , , , , , , - ) ~ / * /
        ~ + ~ ) / / - , , , , , , , , , , , , , , ) ~ ) ~ ) ~ + / , , , , , , , , , , , , , , ^ _ ^ / ~ / ~
        ~ / ^ / ~ _ / , , , , , , , , , , , , , , ) ~ + / ~ / ~ ) , , , , , , , , , , , , , , - ) / * / * /
        / _ / _ / ~ ) ' , , , , , , , , , , , , , _ ~ / ~ + ) ~ / , , , , , , , , , , , , , - / ~ / ~ / ~ /
        ^ / ^ / ~ / ~ / , , , , , , , , , , , , , ^ ~ + ~ / + ~ ^ , , , , , , , , , , , , , ~ / + ~ + ~ + ~
        / _ / _ / _ / _ ; , , , , , , , , , , , , ; ~ ) ~ / + : ; , , , , , , , , , , , , - ) / ~ / ~ / ~ /
        ~ / ^ / ^ / ^ / _ , , , , , , , , , , , , ; ~ + ^ / + ~ " , , , , , , , , , , , , ~ / ~ + ~ + ~ + ~
        / _ / _ / _ / * / ^ , , , , , , , , , , , " : / ) ~ + / , , , , , , , , , , , , _ / _ / ~ / ~ / ~ /
        ~ / ~ / ~ / ~ / ~ ) - , , , , , , , , , , ; : + ~ / + : ) , , , , , , , , , , , ^ ~ / _ / ~ + ~ + ~
        / _ / _ / _ / ^ ) ~ ; , , , , , , , , , , ; ~ / _ ^ ) ~ - , , , , , , , , , , - ) / ^ / ~ + ~ / ~ /
        ~ / ~ / ~ / _ / ~ / : , , , , , , , , , , ; : + ~ / + ~ ) , , , , , , , , , , ; / ~ / * / ~ / ~ + ~
        / _ / _ / ~ / ~ + ~ ) - , , , , , , , , , " ~ + / ~ 7 : ; , , , , , , , , - , : ) ~ ) ~ / * / ~ / ~
        ~ / ^ / ^ / _ / ~ / / ; , , , , , , , , , ; : / ) ~ + / - , , , , , , , - ~ ^ / ^ / ^ / ^ / _ / * /
        / * / _ / ~ / ~ + ~ / - , , , , , , , , , ; ~ ) ^ ~ + ~ ^ , , , , , , , - - ~ ) ~ ) ~ ) ~ / ^ / ~ /
        / ~ / ~ ) ^ ) ~ / ~ ) / , , , , , , , , , ) ~ + / ~ 7 ~ ) , , , , , , , ; ~ / ~ / ~ / ~ / ~ ) ~ + ~
        ~ + ~ / ~ / ~ + ~ / ~ ) - , , , , , , , , / ~ / ~ / ) ~ _ , , , , , , , ~ ~ ) ~ ) ~ ) ~ ) ^ / ~ / ~
        ~ / ~ ) ~ + ~ / ~ + ~ / - , , , , , , , , : ~ + ) ~ + ~ / , , , , , , , _ ~ ~ / ~ / ~ / ~ ) ~ / * /
        / * / ^ / ~ / * / ~ / _ ; , , , , , , , , ) ~ / ~ / + ~ _ , , , , , , - ~ ~ / _ / _ / ~ / ~ / _ / ~
        ~ / ~ / ~ + ~ / ~ / * / " , , , , , , , , ~ / + ~ / + ~ _ , , , , , , ; / : * / ^ / ^ ) ~ ) ~ / ^ /
        / * / _ / ~ / _ / ~ / _ ~ , , , , , , , , ) ~ / ~ ) + ~ / , , , , , , ~ - / / ~ ) ~ / ~ / ~ ) ^ ) ~
        ~ / ^ / ^ / _ / ~ + ~ / ~ , , , , , , , , _ ~ + / ^ / ~ ) , , , , , , ) , : ~ / ^ / * / _ / ~ / ~ /
        / _ / _ / * / ~ / ~ / * / - , , , , , - ; / ~ ) ~ / + ~ / ; , , , , - / - / * / _ / ~ / ~ ) ~ + ~ /
        ~ / ~ / ~ / ~ + ~ + ~ / ) , , , ; + L 7 ? / _ : ) ~ _ / ) 7 7 L ) ; - ) ` ) / ~ / ~ / _ / ~ / ~ ) ~
        / _ / _ / ^ / ~ / ~ / ~ / , - + 7 + + + 7 + / ) + 7 / ) + + + + 7 + / / ~ ~ / _ / _ / ~ / _ / ~ / ~
        / ^ / ^ / _ / _ / * / * / : _ 7 + 7 + 7 + 7 + } + + 7 + + + 7 7 / ~ / ~ ~ ) ~ / ~ / ^ ) ^ / ^ / _ /
        ~ ) ~ ) ~ / ~ / ^ / ~ / _ ~ / 7 + + 7 + + 7 + + 7 + + 7 7 7 + ~ ) ~ + + ~ / ~ + ~ / _ / ~ ) ~ / ^ /
        ~ / ^ / ^ / * / _ / _ / ~ / ~ ~ C 7 + 7 + 7 + 7 + 7 7 + + ~ ~ / ~ + + ~ / ~ / ~ ) ~ / ~ / ~ + ~ ) ~
        / * / _ / ~ / ^ / ^ / _ / * , ~ ~ ~ + + 7 + 7 C ~ ~ ~ / / + + + / ~ ` : ) ^ ) ^ / ^ ) ~ ) ~ / ^ / ~
        ~ / ~ / ~ + ~ ) ~ ) ~ / ~ / ) + : , - ~ ~ : - ~ / + ~ ~ - : : / ` : + / _ / ~ / _ / ~ / ~ / ~ / * /
        / * / * / ~ / ^ / ~ / _ / _ : " * " * * : : _ ^ ~ : ; ^ : _ " / + < / + , ) ^ / ^ / _ / _ / _ / ~ /
        / ~ / ~ / ^ ) ~ ) ^ ) ^ / ~ + " _ _ " : * " * * * / * / + / * : : + / * ) ~ / _ / _ / ~ / ~ / ~ + ~
        ~ + ~ + ~ / ~ / ~ / ~ / _ / ^ * * " _ : _ : _ : " _ / + / _ * + + * / / ~ / ^ / ~ / ~ ) ~ ) ~ / ~ /
        / ~ / ~ / ^ ) ~ ) ~ + ~ / ~ _ " : _ / * / / / < / + / + * / " : : _ / + ) ~ ) ^ ) ~ ) ~ / ~ / ~ + ~
        ~ + ~ ) ^ ) ~ / ~ / ~ ) ~ ) " + + * : " _ * _ " _ " _ : : _ " * : * < : / ~ / ~ / ^ / ~ ) ~ ) ~ / ~
        ~ / ^ / ~ / ~ / ~ ) ~ / ^ / , " : * _ : * : : _ " _ * * + r _ _ / * * / ~ / * / * / _ / ^ / ^ / * /
        / _ / _ / _ / _ / ~ / * / _ / _ " _ " _ " * / + / + / / / * " * " _ / / / * / ~ / ~ / _ / _ / ~ / ~
        ~ / ~ / ~ / ~ / ~ + ~ / ~ ) * / * * * : * : _ " : * : * : _ * * _ ' + * _ / ~ / ^ ) ~ / ^ / ^ / * /
        / _ / _ / * / _ / ~ / * / ~ ~ " * * : * : * : : _ " * * * / / _ * / + * ~ ) ^ ) ~ / ^ ) ~ ) ~ ) ~ /
        ~ / ~ / ~ / ~ / ~ + ~ / ~ ) * * : : * : * : / * / * / * / / * * " _ r * ) ~ / ~ / ~ ) ^ / ~ / ~ / ~
        / _ / _ / _ / ~ / ~ / _ / ~ ~ / + / _ " _ " _ " _ " _ : : : : * : _ < ~ ~ / _ / _ / ~ / _ / _ / _ /
        ~ / ^ / ~ / ^ ) ^ ) ~ / ~ ) / / / : " _ " _ * * / * * * / + / * * < ` ) / _ / ^ / ^ / * / ~ / ~ / ~
        / * / _ / ~ ) ~ / ^ / * / ^ ~ ) , + : * : * : _ " * * / * * _ : / _ _ / ~ / ^ ) ~ ) ~ / ^ ) ^ ) ~ /
        / ~ / ~ ) ~ / ^ / _ / ~ / _ / ^ ) ~ / _ " _ " _ * : * : _ * * + / - / ~ / _ / ~ / ~ / _ / ~ / ~ + ~
        ~ + ~ / ~ / _ / ~ / _ / ~ / ~ / ~ / - / * ' * ' * _ " : " " / c ~ ) / _ / ~ / _ / _ / ~ / _ / ~ / ~
        / ~ / ~ ) ~ / ~ + ~ / ~ / _ / _ / _ / ~ @ @ 4 } } + k d X R @ ~ ~ / ~ / ~ + ~ / ~ / ^ ) ~ / ^ / * /
        ~ + ~ + ~ / _ / ~ / * / * / ^ / ~ / ^ / ~ @ O R R B W @ @ @ / / _ / _ / ~ / _ / _ / ~ / ~ ) ~ ) ~ /
        / ~ / ~ / ~ / ^ / * / ~ / ~ / ~ + ~ ) ~ ~ H @ R O O # @ @ R ~ * / ~ / ^ ) ^ / ~ / ^ ) ~ ) ~ / ~ / ~
        ~ + ~ + ~ + ~ ) ~ / ~ + ~ + ~ ) ~ / ^ / ~ / z 4 O 4 @ N 4 ~ ~ / ~ + ~ / ~ / * / ~ / ^ / ^ / _ / _ /
    </p>
</div>
</body>
</html>