<!DOCTYPE html>
<html>
<head>
  <div>
    <meta charset="UTF-8">
    <title>Brayden Ascii Lab</title>
  </div>
</head>
<body>
<!-- wanted to fix from world map -->
  <h1>DNHS - ASCII</h1>
  <p>
  <ul style="font-family:Courier New">
    <li>%%%%%&&&&&&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##############################################(**############################################%%%%%%%#######%%%%%%%########%%%%%%%#######%%%%%%%####</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#################################################&((((#///*/############################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###%%######################################################%((#(&#@/*((((//**#######################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%############################################################%((#(((&%#(/((&&(((*(//**(#################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##########################################################%#%&%(,*#*/(&%%(*/(%(&%&#/(//**############################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%#%%######################################((###################%%%%&&//#(#%&#,,##/,(,/..(*##%%(*,///**#######################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%#############################################################&#%%%&&#(**&%,#(#/(%(...*(,***.../#(&%%###/(**(#################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%###########################################(((###############&#%%&#(./#*//%.,*((,/#(,,//,(%#%%%%(#(#(.##(/((%%(//*(##############################(((((((((######(((############</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%####################################################((((######%#%&##*((./,(/*#(**(#,#%/,,,%%&#((###(###/((/*(%##(###%######################((((((((((#((((((((((((((((((((########</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%#############################################################%%&/#,(,((.***/(#/**(.,/%/,,,%%%#(........,,,/*#((###################(#((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%###############################((((((((((////////////////***,,,,,,**/((,/..,##.,*(%%(//   (%%#*(**(#%#//**//############(#((((((((((((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%#%##############%%%%%%%%%%%%&&&(((((((((/////////////////****************.,/,#(/** .//*   /%&%*#*(,,,,,,*,&(###########(###(((((((((((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%#%###########%%%%%%%%%%%%%&&%((&&&(/(////////////&&&///**(#********%##*.., (.,/&&&@&&&&&&&&%.(#/,.(,..,.%%//////////((#((((((((((((((((((((((((((((((((((((((((((((((#(((((((###</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%########%%%%%%%%%%%%%&&%(((/((((/////////////////*************(##*.,#%&&&@@@@@@&&&&@&&& ...*.... . /&(/////////////#(((((((((((((((((((((((((((((((((((((((((##############</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#####%%%%%%%%&&&&&&&%#((/((/////////////////***(*******(*****,, .%&&&&&@@@@@&&&&&&&&..,.*...... ,&#///%//(////&(##(((((((((((((((((((((((((#((#######(##################</li>
    <li>%%%%%%%%%%%%%%%%%%#########%%%%%################(##(((((((((((///////////#************@&%#,,,** .%&&&&&&&&&@%&&&&&&&,,**/((###%##%&/////////%(((########################################################</li>
    <li>%%%%%%%%%%%%%%%#####%%%%%%%%##%%%%%%%%###########(*(//(*****((/(((((/////********(%%***#,,,,/(*,.&&&&&&&&&&&&%&&&&&%/,.....,*.,**&&***//((((/////(((##%%%%%%%%%%%######((######################&&%######</li>
    <li>%%%%%%%%%%%%%%%####%%%&%&&&%%%%%%%%%%%############((((((((((((((((((/(////**********,,,#,,,****,,&&&&&&&&&&&&%%&&&%%/*,**,(,,,*(/&&////##(((%%%%%%%%%%%%%%%%%%%%%%#####(///******/*******//#####%#%%%%%%</li>
    <li>%%%%%%%%%%%%%&&%%%%%%%&%&&&&%%%%&&&&&&%##%%%######(((((((((((((#((((/(////#(*****,,,,,,#,,,,,,*#%&&&&&&&&&&&&%%%&&%#%%%@&&&&%&&&&&&#//####%%%%%%%%%%%%%%%%%%%%%%%%#####(///**/,/#%%%%%&&&&%%#(*#%#/#&/(#</li>
    <li>%%%%%%%%%&%&%&&&&&&%%%%%%&&&&%%%&&&&&&%&%#####%###((((((((((##((##&#/(///*****,,,,,,,,,%*,,,,,,(%&#&&&&&&&%%&%%%%&%#%%%&%%%&&&&&&&&&*//########%%%%%%%%%%%%%%%%%%%#####(///****(//(///////((&##%%#(%@((#</li>
    <li>&&%%%%%%&&&%&&&&&&&&&&&&&&&&&&&%%%%&&&&&%%%%%%%&%#((((#((#&&%%&%#%#%(//(/**************#,,,,,,,,,./((*,*/#(%&%%%%%%###((((((%(%%&&&&*.*(((#####(##%%%%%%%%%%%%%%%%%#(##(///***,///#((((###%%%%&(#(#(%%%#</li>
    <li>&&&&%%%%%%%%%%&&&&&&&&&&&&&&&&&&&&&&&%%%&%&&&&&&%#(((((((&#%&#&(%&%(,(((/**,,/*/*((/*(,#***#((*(//@(//***((%&&%%%%%/,//((*(#.  *&&&&** *   /###((,/*,*//,((, .#*,#######/////((/ ...**/*(#%#&&%.(,.,.,.,</li>
    <li>###############(############((/(####(######(#(%#%&@&%((#%%(#%%##%#(#(((( /,,*..( ,#,,(,(*,.   .(*/&*,,,*.**%&&%%%%%,.,,*,*/****(&&&&%, ....,((((/ ..,/ (.//,.,(*,#######////(/(/.*../*(*%&&&&&&./*/*,,*,</li>
    <li>%(##%%%%%%%%###%%##(.(,.../....(., ./,,..,.,,/%#(#(#%%%%##&%%%&#&&##&&&%*/*.,..%@@&@&%./*,,..../..&*,.,,.**%&&%%%%&/,, . ,**///#&&&&&, ,,**/#((((  ,**./.**,.,*,,#######(//((%#/*/*,**/*(((((%#%(/%#&@@#</li>
    <li>%/((#%##((/*.      ..,,.,*/,(,((#(((#(///,,*,*##((((%&(&&&&&&#&%&&&%%##(....((/%#%(&&%*(/.(,...(,*&*,.....,%&&%%%%%#...,,,,****#&&&&&/*,..  .....        .,*(/#/%#######(//(((((//*/##%&&&%%%%%##(*,**//</li>
    <li>%,,**((/.  ... ....***/,/#/#,(#(///(#%/////***##((((%%%&#&%&&@@&&@@&&(#(,....,/, ..,/%@#(/%#/,,,,*,*,,,.. ,%&&%%%%%% ....  ,,,,#&&&&&%%######((((///*,,,,,......,,,**/#%&%((#%%%%%%&%%%%%%%%%%%#%###%%#%</li>
    <li>%..,,//*,(,*.....,,/**/#//*//*((/(*,(*,,.*/*,*####%&((##%##&@&@&&#%&//%*,,,**/*(*//#(&&&%%%&%%&#%##(##(####%%%%%#(*,.........,,.....,*///((((####(###((################%%%#%%%%%%%%%%%%%&%%%%%%%%%%%%%%&</li>
    <li>%....//*,%##*******((**###*#%##///,,/,,**/*,,,###(#(##&@%@#&%&&&&&#&///(((/(((&%%#(((&@%@%##&&&%@(#############((//**,,,,......,,,**//(##%%%#%%%%%%%%%####%%####%#&%%%%%#####################%##%###(###</li>
    <li>%....//*#%%/,/////((/*/##%/###((/***(/*/*(/*/*#((((#&&&&&@%#%%&&&((#/##########%%#%#&%&&&%&&&@#%%##%%%(#(((######(####((/(((#######(((((##%##%%%#%%#######(#########%%%%&&%#%%#####(#((((###############</li>
    <li>%.,,,(((////*/(((((/*,*****////((((((#((((((((#####%%%#&%%&&%%%%%%%%%%%%%%%####&&@&@&%%%@%%&&&%&@&%%%&#%########(#(#####((//////////////////////((((((##(((##(##((###%%%%%%%#%%%%%%&%#######(##(((//((##</li>
    <li>/*,,............ .. .........,,,,,,,..,**(((##%%%%%%%%%%%%#&%%%%%%%%#%###%%%#%@&@@@@#%&%&&&@&&&#@%&((##((##########((//////////*//(((///(((((((((((((((((((##############%%%%%%%%%%%%%%%%%%%%%%%#####//</li>
    <li>,/,,..,  .* .. .    ...............,**////(#####%%%%%%%%%##%%%%%%%%%%%######&%&%&&&&@@&%@@&&&@%&@%%%#%#%(((###((###((((((((((((((((/(((((((((((((((((((((################%%##%%#####((((((((((((((((((((</li>
    <li>%%((%%&&@&%(#..,(#%#(#(((##%%*,**/(######%%%%%%####%#%%%%%%%&%%%%%%%%#%%###%&@@@&@@%@@@&&&@@&@@&%&&@&%%#&(#(##############((###(((((((((((((((#########(////////(///////////(####%##%%%%##%#####%%%%####</li>
    <li>@&%#######&##%%&&&&&&%&&%%%%%%%%##(((((/(((((#####%%%%%%%%&%&&@&%@&%@&@&%%%##%@@%@&@@&@&&&&@@@&#&%@@%&#&#(##((##########################((///////////////(#########(####################%%#%%%%%##%%%###</li>
    <li>&&&&&&&&@@&%%%%%%%&&&&&&&&&&%#((####(((#(((######%%%%%%%&&&@%&&&&&&&&&&&#%%%%%&%&@@&@&@&&&&@@@&@@@@&&&&&%%%(#((#############((((((((((((((((############################################################</li>
    <div>
      <img src="https://1z8qih1l8tj53pg8zi3f9dif-wpengine.netdna-ssl.com/wp-content/uploads/2017/01/Del-Norte-HS-Poway-K12-Structural-San-Diego-1200x600.jpg">
    </div>
  </ul>
</body>
</html>