<!DOCTYPE html>
<html>
<head>
  <div>
    <meta charset="UTF-8">
    <title>Brayden & Dane Ascii Lab</title>
  </div>
</head>
<body>
  <h1>DNHS - ASCII</h1>
  <p>
  <ul style="font-family:Courier New">
    <li>%%%%%&&&&&&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##############################################(**############################################%%%%%%%#######%%%%%%%########%%%%%%%#######%%%%%%%####</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#################################################&((((#///*/############################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###%%######################################################%((#(&#@/*((((//**#######################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%############################################################%((#(((&%#(/((&&(((*(//**(#################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##########################################################%#%&%(,*#*/(&%%(*/(%(&%&#/(//**############################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%#%%######################################((###################%%%%&&//#(#%&#,,##/,(,/..(*##%%(*,///**#######################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%#############################################################&#%%%&&#(**&%,#(#/(%(...*(,***.../#(&%%###/(**(#################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%###########################################(((###############&#%%&#(./#*//%.,*((,/#(,,//,(%#%%%%(#(#(.##(/((%%(//*(##############################(((((((((######(((############</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%####################################################((((######%#%&##*((./,(/*#(**(#,#%/,,,%%&#((###(###/((/*(%##(###%######################((((((((((#((((((((((((((((((((########</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%#############################################################%%&/#,(,((.***/(#/**(.,/%/,,,%%%#(........,,,/*#((###################(#((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%###############################((((((((((////////////////***,,,,,,**/((,/..,##.,*(%%(//   (%%#*(**(#%#//**//############(#((((((((((((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%#%##############%%%%%%%%%%%%&&&(((((((((/////////////////****************.,/,#(/** .//*   /%&%*#*(,,,,,,*,&(###########(###(((((((((((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%#%###########%%%%%%%%%%%%%&&%((&&&(/(////////////&&&///**(#********%##*.., (.,/&&&@&&&&&&&&%.(#/,.(,..,.%%//////////((#((((((((((((((((((((((((((((((((((((((((((((((#(((((((###</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%########%%%%%%%%%%%%%&&%(((/((((/////////////////*************(##*.,#%&&&@@@@@@&&&&@&&& ...*.... . /&(/////////////#(((((((((((((((((((((((((((((((((((((((((##############</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#####%%%%%%%%&&&&&&&%#((/((/////////////////***(*******(*****,, .%&&&&&@@@@@&&&&&&&&..,.*...... ,&#///%//(////&(##(((((((((((((((((((((((((#((#######(##################</li>
    <li>%%%%%%%%%%%%%%%%%%#########%%%%%################(##(((((((((((///////////#************@&%#,,,** .%&&&&&&&&&@%&&&&&&&,,**/((###%##%&/////////%(((########################################################</li>
    <li>%%%%%%%%%%%%%%%#####%%%%%%%%##%%%%%%%%###########(*(//(*****((/(((((/////********(%%***#,,,,/(*,.&&&&&&&&&&&&%&&&&&%/,.....,*.,**&&***//((((/////(((##%%%%%%%%%%%######((######################&&%######</li>
    <li>%%%%%%%%%%%%%%%####%%%&%&&&%%%%%%%%%%%############((((((((((((((((((/(////**********,,,#,,,****,,&&&&&&&&&&&&%%&&&%%/*,**,(,,,*(/&&////##(((%%%%%%%%%%%%%%%%%%%%%%#####(///******/*******//#####%#%%%%%%</li>
    <li>%%%%%%%%%%%%%&&%%%%%%%&%&&&&%%%%&&&&&&%##%%%######(((((((((((((#((((/(////#(*****,,,,,,#,,,,,,*#%&&&&&&&&&&&&%%%&&%#%%%@&&&&%&&&&&&#//####%%%%%%%%%%%%%%%%%%%%%%%%#####(///**/,/#%%%%%&&&&%%#(*#%#/#&/(#</li>
    <li>%%%%%%%%%&%&%&&&&&&%%%%%%&&&&%%%&&&&&&%&%#####%###((((((((((##((##&#/(///*****,,,,,,,,,%*,,,,,,(%&#&&&&&&&%%&%%%%&%#%%%&%%%&&&&&&&&&*//########%%%%%%%%%%%%%%%%%%%#####(///****(//(///////((&##%%#(%@((#</li>
    <li>&&%%%%%%&&&%&&&&&&&&&&&&&&&&&&&%%%%&&&&&%%%%%%%&%#((((#((#&&%%&%#%#%(//(/**************#,,,,,,,,,./((*,*/#(%&%%%%%%###((((((%(%%&&&&*.*(((#####(##%%%%%%%%%%%%%%%%%#(##(///***,///#((((###%%%%&(#(#(%%%#</li>
    <li>&&&&%%%%%%%%%%&&&&&&&&&&&&&&&&&&&&&&&%%%&%&&&&&&%#(((((((&#%&#&(%&%(,(((/**,,/*/*((/*(,#***#((*(//@(//***((%&&%%%%%/,//((*(#.  *&&&&** *   /###((,/*,*//,((, .#*,#######/////((/ ...**/*(#%#&&%.(,.,.,.,</li>
    <li>###############(############((/(####(######(#(%#%&@&%((#%%(#%%##%#(#(((( /,,*..( ,#,,(,(*,.   .(*/&*,,,*.**%&&%%%%%,.,,*,*/****(&&&&%, ....,((((/ ..,/ (.//,.,(*,#######////(/(/.*../*(*%&&&&&&./*/*,,*,</li>
    <li>%(##%%%%%%%%###%%##(.(,.../....(., ./,,..,.,,/%#(#(#%%%%##&%%%&#&&##&&&%*/*.,..%@@&@&%./*,,..../..&*,.,,.**%&&%%%%&/,, . ,**///#&&&&&, ,,**/#((((  ,**./.**,.,*,,#######(//((%#/*/*,**/*(((((%#%(/%#&@@#</li>
    <li>%/((#%##((/*.      ..,,.,*/,(,((#(((#(///,,*,*##((((%&(&&&&&&#&%&&&%%##(....((/%#%(&&%*(/.(,...(,*&*,.....,%&&%%%%%#...,,,,****#&&&&&/*,..  .....        .,*(/#/%#######(//(((((//*/##%&&&%%%%%##(*,**//</li>
    <li>%,,**((/.  ... ....***/,/#/#,(#(///(#%/////***##((((%%%&#&%&&@@&&@@&&(#(,....,/, ..,/%@#(/%#/,,,,*,*,,,.. ,%&&%%%%%% ....  ,,,,#&&&&&%%######((((///*,,,,,......,,,**/#%&%((#%%%%%%&%%%%%%%%%%%#%###%%#%</li>
    <li>%..,,//*,(,*.....,,/**/#//*//*((/(*,(*,,.*/*,*####%&((##%##&@&@&&#%&//%*,,,**/*(*//#(&&&%%%&%%&#%##(##(####%%%%%#(*,.........,,.....,*///((((####(###((################%%%#%%%%%%%%%%%%%&%%%%%%%%%%%%%%&</li>
    <li>%....//*,%##*******((**###*#%##///,,/,,**/*,,,###(#(##&@%@#&%&&&&&#&///(((/(((&%%#(((&@%@%##&&&%@(#############((//**,,,,......,,,**//(##%%%#%%%%%%%%%####%%####%#&%%%%%#####################%##%###(###</li>
    <li>%....//*#%%/,/////((/*/##%/###((/***(/*/*(/*/*#((((#&&&&&@%#%%&&&((#/##########%%#%#&%&&&%&&&@#%%##%%%(#(((######(####((/(((#######(((((##%##%%%#%%#######(#########%%%%&&%#%%#####(#((((###############</li>
    <li>%.,,,(((////*/(((((/*,*****////((((((#((((((((#####%%%#&%%&&%%%%%%%%%%%%%%%####&&@&@&%%%@%%&&&%&@&%%%&#%########(#(#####((//////////////////////((((((##(((##(##((###%%%%%%%#%%%%%%&%#######(##(((//((##</li>
    <li>/*,,............ .. .........,,,,,,,..,**(((##%%%%%%%%%%%%#&%%%%%%%%#%###%%%#%@&@@@@#%&%&&&@&&&#@%&((##((##########((//////////*//(((///(((((((((((((((((((##############%%%%%%%%%%%%%%%%%%%%%%%#####//</li>
    <li>,/,,..,  .* .. .    ...............,**////(#####%%%%%%%%%##%%%%%%%%%%%######&%&%&&&&@@&%@@&&&@%&@%%%#%#%(((###((###((((((((((((((((/(((((((((((((((((((((################%%##%%#####((((((((((((((((((((</li>
    <li>%%((%%&&@&%(#..,(#%#(#(((##%%*,**/(######%%%%%%####%#%%%%%%%&%%%%%%%%#%%###%&@@@&@@%@@@&&&@@&@@&%&&@&%%#&(#(##############((###(((((((((((((((#########(////////(///////////(####%##%%%%##%#####%%%%####</li>
    <li>@&%#######&##%%&&&&&&%&&%%%%%%%%##(((((/(((((#####%%%%%%%%&%&&@&%@&%@&@&%%%##%@@%@&@@&@&&&&@@@&#&%@@%&#&#(##((##########################((///////////////(#########(####################%%#%%%%%##%%%###</li>
    <li>&&&&&&&&@@&%%%%%%%&&&&&&&&&&%#((####(((#(((######%%%%%%%&&&@%&&&&&&&&&&&#%%%%%&%&@@&@&@&&&&@@@&@@@@&&&&&%%%(#((#############((((((((((((((((############################################################</li>

    <div>
      <p> <img src="../images/dnhsschool.png" style="width:700px;height:522px" alt="braydenascii"> </p>
    </div>


<!--    <li>~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / / - ^ " ; ; " ^ - / ) ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ / ~</li>-->
<!--    <li>/ * / * / * / * / * / * / * / _ / ~ ^ - , , , , , , , , , , - _ - ) / * / * / * / * / * / * / * / ~</li>-->
<!--    <li>~ / ~ / ~ / ~ / ~ / ~ / ~ / ~ : : , , , , , , , , , , , , , , , , , - ~ ) / ~ / ~ / ~ / ~ / ~ / * /</li>-->
<!--    <li>/ * / * / * / * / * / _ ) ' , , , , , , , , , , , , , , , , , , , , , , - ~ ) ^ ) ^ ) ^ ) ^ / ~ / ~</li>-->
<!--    <li>~ / ~ / ~ / ~ / ~ / ~ / , , , , , , , , , , , , , , , , , , , , , , , , , , : ) ~ / ~ / ~ / _ / * /</li>-->
<!--    <li>/ * / * / * / * / ) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ~ ) ^ ) ^ / ^ / ~ /</li>-->
<!--    <li>~ / ~ / ~ / ~ / : - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ~ / ~ / ~ ) ~ + ~</li>-->
<!--    <li>/ * / * / * / ~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - , , , , ~ ) ^ ) ~ / ~ /</li>-->
<!--    <li>~ / ~ / ~ / : , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , : ~ , , , , ~ / ~ / ~ + ~</li>-->
<!--    <li>/ * / * / ) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , " _ ^ , , , : + ~ / ~ /</li>-->
<!--    <li>/ ~ / ~ ) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ) ~ , , - / ) ~ + ~</li>-->
<!--    <li>~ + ~ / - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ^ / ~ , , ' / ~ / ~</li>-->
<!--    <li>/ ~ / ~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - / ) - , , ) / * /</li>-->
<!--    <li>~ + / ' , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ~ ~ ) - , - ) ~ /</li>-->
<!--    <li>~ / : , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - ) / ~ , , ~ / ~</li>-->
<!--    <li>/ _ ; , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - / ~ ) , , - ) ~</li>-->
<!--    <li>~ / , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ) / ~ - , , ~ /</li>-->
<!--    <li>/ ~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ` : , , , , ^ ~</li>-->
<!--    <li>~ ^ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , - /</li>-->
<!--    <li>) - , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ~</li>-->
<!--    <li>~ , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ~</li>-->
<!--    <li>, , , , , , , , , , , , , , , , , , , , , , , - - : - , , , , , , , , , , , , , , , , , , , , , , ;</li>-->
<!--    <li>^ , , , , , , , , , , , , , , , , , , , , ^ ) / ) / ) ) / - , , , , , , , , , , , , , , , , , , , ^</li>-->
<!--    <li>; , , , , , , , , , , , , , , , , , , - _ ~ / ~ ^ ~ / ~ ) ) ' , , , , , , , , , , , , , , , , , , -</li>-->
<!--    <li>; , , , , , , , , , , , , , , , , , , ~ / ) ^ ) / ~ _ / ^ / ) - , , , , , , , , , , , , , , , , , -</li>-->
<!--    <li>: , , , , , , , , , , , , , , , , , , ) ~ - / ~ ~ / ~ ~ ~ / ~ - , , , , , , , , , , , , , , , , , -</li>-->
<!--    <li>; , , , , , , , , , , , , , , , , , ^ ~ ) / ~ / ) ~ / + / _ _ ^ , , , , , , , , , , , , , , , , , -</li>-->
<!--    <li>; , , , , , , , , , , , , , , , , , ^ , - ^ ) ~ / ) ~ ) ~ - , ^ , , , , , , , , , , , , , , , , , -</li>-->
<!--    <li>^ , , , , , , , , , , , , , , , , , - , , , , - - - - - , , , ^ , , , , , , , , , , , , , , , , , '</li>-->
<!--    <li>: , , , , , , , , , , , , , , , , , , ; , , , , , , , , , , , - , , , , , , , , , , , , , , , , , -</li>-->
<!--    <li>~ , , , , , , , , , , , , , , , , , , ~ , , , , , , , , , , ^ , , , , , , , , , , , , , , , , , , ^</li>-->
<!--    <li>~ , , , , , , , , , , , , , , , , , , ^ , , , , , , , , , , ^ , , , , , , , , , , , , , , , , , , ~</li>-->
<!--    <li>_ , , , , , , , , , , , , , , , , , , - ; , , , , , , , , , ^ , , , , , , , , , , , , , , , , , , /</li>-->
<!--    <li>/ - , , , , , , , , , , , , , , , , , , ~ , , , , , , , , ; , , , , , , , , , , , , , , , , , , - )</li>-->
<!--    <li>_ ~ , , , , , , , , , , , , , , , , , , - , , , , , , , , ~ , , , , , , , , , , , , , , , , , , ' /</li>-->
<!--    <li>/ / - , , , , , , , , , , , , , , , , , ~ - , , , , , , , : , , , , , , , , , , , , , , , , , , ~ )</li>-->
<!--    <li>/ _ ^ , , , , , , , , , , , , , , , , , , ^ , , , , , , ; - , , , , , , , , , , , , , , , , , : / ~</li>-->
<!--    <li>~ / : , , , , , , , , , , , , , , , , , , : , , , , , , : , , , , , , , , , , , , , , , , , , : ) ~</li>-->
<!--    <li>/ ~ ) ' , , , , , , , , , , , , , , , , , ^ - , , , , , , , , , , , , , , , , , , , , , , , , ) ~ /</li>-->
<!--    <li>~ + / ) , , , , , , , , , , , , , , , , , , ^ , , , , ; - , , , , , , , , , , , , , , , , , ~ / ~ +</li>-->
<!--    <li>/ ~ ~ / ^ , , , , , , , , , , , , , , , , , " ^ ) ) " ~ , , , , , , , , , , , , , , , , , - / _ / ~</li>-->
<!--    <li>~ + ~ / ) - , , , , , , , , , , , , , , , ; ) / ~ ~ ~ L - , , , , , , , , , , , , , , , , / ) ^ / ~</li>-->
<!--    <li>/ ~ / ~ ~ ~ , , , , , , , , , , , , , , , _ / : / ~ / ~ [ , , , , , , , , , , , , , , , - ) ~ / * /</li>-->
<!--    <li>~ + ~ ) / / - , , , , , , , , , , , , , , ) ~ ) ~ ) ~ + / , , , , , , , , , , , , , , ^ _ ^ / ~ / ~</li>-->
<!--    <li>~ / ^ / ~ _ / , , , , , , , , , , , , , , ) ~ + / ~ / ~ ) , , , , , , , , , , , , , , - ) / * / * /</li>-->
<!--    <li>/ _ / _ / ~ ) ' , , , , , , , , , , , , , _ ~ / ~ + ) ~ / , , , , , , , , , , , , , - / ~ / ~ / ~ /</li>-->
<!--    <li>^ / ^ / ~ / ~ / , , , , , , , , , , , , , ^ ~ + ~ / + ~ ^ , , , , , , , , , , , , , ~ / + ~ + ~ + ~</li>-->
<!--    <li>/ _ / _ / _ / _ ; , , , , , , , , , , , , ; ~ ) ~ / + : ; , , , , , , , , , , , , - ) / ~ / ~ / ~ /</li>-->
<!--    <li>~ / ^ / ^ / ^ / _ , , , , , , , , , , , , ; ~ + ^ / + ~ " , , , , , , , , , , , , ~ / ~ + ~ + ~ + ~</li>-->
<!--    <li>/ _ / _ / _ / * / ^ , , , , , , , , , , , " : / ) ~ + / , , , , , , , , , , , , _ / _ / ~ / ~ / ~ /</li>-->
<!--    <li>~ / ~ / ~ / ~ / ~ ) - , , , , , , , , , , ; : + ~ / + : ) , , , , , , , , , , , ^ ~ / _ / ~ + ~ + ~</li>-->
<!--    <li>/ _ / _ / _ / ^ ) ~ ; , , , , , , , , , , ; ~ / _ ^ ) ~ - , , , , , , , , , , - ) / ^ / ~ + ~ / ~ /</li>-->
<!--    <li>~ / ~ / ~ / _ / ~ / : , , , , , , , , , , ; : + ~ / + ~ ) , , , , , , , , , , ; / ~ / * / ~ / ~ + ~</li>-->
<!--    <li>/ _ / _ / ~ / ~ + ~ ) - , , , , , , , , , " ~ + / ~ 7 : ; , , , , , , , , - , : ) ~ ) ~ / * / ~ / ~</li>-->
<!--    <li>~ / ^ / ^ / _ / ~ / / ; , , , , , , , , , ; : / ) ~ + / - , , , , , , , - ~ ^ / ^ / ^ / ^ / _ / * /</li>-->
<!--    <li>/ * / _ / ~ / ~ + ~ / - , , , , , , , , , ; ~ ) ^ ~ + ~ ^ , , , , , , , - - ~ ) ~ ) ~ ) ~ / ^ / ~ /</li>-->
<!--    <li>/ ~ / ~ ) ^ ) ~ / ~ ) / , , , , , , , , , ) ~ + / ~ 7 ~ ) , , , , , , , ; ~ / ~ / ~ / ~ / ~ ) ~ + ~</li>-->
<!--    <li>~ + ~ / ~ / ~ + ~ / ~ ) - , , , , , , , , / ~ / ~ / ) ~ _ , , , , , , , ~ ~ ) ~ ) ~ ) ~ ) ^ / ~ / ~</li>-->
<!--    <li>~ / ~ ) ~ + ~ / ~ + ~ / - , , , , , , , , : ~ + ) ~ + ~ / , , , , , , , _ ~ ~ / ~ / ~ / ~ ) ~ / * /</li>-->
<!--    <li>/ * / ^ / ~ / * / ~ / _ ; , , , , , , , , ) ~ / ~ / + ~ _ , , , , , , - ~ ~ / _ / _ / ~ / ~ / _ / ~</li>-->
<!--    <li>~ / ~ / ~ + ~ / ~ / * / " , , , , , , , , ~ / + ~ / + ~ _ , , , , , , ; / : * / ^ / ^ ) ~ ) ~ / ^ /</li>-->
<!--    <li>/ * / _ / ~ / _ / ~ / _ ~ , , , , , , , , ) ~ / ~ ) + ~ / , , , , , , ~ - / / ~ ) ~ / ~ / ~ ) ^ ) ~</li>-->
<!--    <li>~ / ^ / ^ / _ / ~ + ~ / ~ , , , , , , , , _ ~ + / ^ / ~ ) , , , , , , ) , : ~ / ^ / * / _ / ~ / ~ /</li>-->
<!--    <li>/ _ / _ / * / ~ / ~ / * / - , , , , , - ; / ~ ) ~ / + ~ / ; , , , , - / - / * / _ / ~ / ~ ) ~ + ~ /</li>-->
<!--    <li>~ / ~ / ~ / ~ + ~ + ~ / ) , , , ; + L 7 ? / _ : ) ~ _ / ) 7 7 L ) ; - ) ` ) / ~ / ~ / _ / ~ / ~ ) ~</li>-->
<!--    <li>/ _ / _ / ^ / ~ / ~ / ~ / , - + 7 + + + 7 + / ) + 7 / ) + + + + 7 + / / ~ ~ / _ / _ / ~ / _ / ~ / ~</li>-->
<!--    <li>/ ^ / ^ / _ / _ / * / * / : _ 7 + 7 + 7 + 7 + } + + 7 + + + 7 7 / ~ / ~ ~ ) ~ / ~ / ^ ) ^ / ^ / _ /</li>-->
<!--    <li>~ ) ~ ) ~ / ~ / ^ / ~ / _ ~ / 7 + + 7 + + 7 + + 7 + + 7 7 7 + ~ ) ~ + + ~ / ~ + ~ / _ / ~ ) ~ / ^ /</li>-->
<!--    <li>~ / ^ / ^ / * / _ / _ / ~ / ~ ~ C 7 + 7 + 7 + 7 + 7 7 + + ~ ~ / ~ + + ~ / ~ / ~ ) ~ / ~ / ~ + ~ ) ~</li>-->
<!--    <li>/ * / _ / ~ / ^ / ^ / _ / * , ~ ~ ~ + + 7 + 7 C ~ ~ ~ / / + + + / ~ ` : ) ^ ) ^ / ^ ) ~ ) ~ / ^ / ~</li>-->
<!--    <li>~ / ~ / ~ + ~ ) ~ ) ~ / ~ / ) + : , - ~ ~ : - ~ / + ~ ~ - : : / ` : + / _ / ~ / _ / ~ / ~ / ~ / * /</li>-->
<!--    <li>/ * / * / ~ / ^ / ~ / _ / _ : " * " * * : : _ ^ ~ : ; ^ : _ " / + < / + , ) ^ / ^ / _ / _ / _ / ~ /</li>-->
<!--    <li>/ ~ / ~ / ^ ) ~ ) ^ ) ^ / ~ + " _ _ " : * " * * * / * / + / * : : + / * ) ~ / _ / _ / ~ / ~ / ~ + ~</li>-->
<!--    <li>~ + ~ + ~ / ~ / ~ / ~ / _ / ^ * * " _ : _ : _ : " _ / + / _ * + + * / / ~ / ^ / ~ / ~ ) ~ ) ~ / ~ /</li>-->
<!--    <li>/ ~ / ~ / ^ ) ~ ) ~ + ~ / ~ _ " : _ / * / / / < / + / + * / " : : _ / + ) ~ ) ^ ) ~ ) ~ / ~ / ~ + ~</li>-->
<!--    <li>~ + ~ ) ^ ) ~ / ~ / ~ ) ~ ) " + + * : " _ * _ " _ " _ : : _ " * : * < : / ~ / ~ / ^ / ~ ) ~ ) ~ / ~</li>-->
<!--    <li>~ / ^ / ~ / ~ / ~ ) ~ / ^ / , " : * _ : * : : _ " _ * * + r _ _ / * * / ~ / * / * / _ / ^ / ^ / * /</li>-->
<!--    <li>/ _ / _ / _ / _ / ~ / * / _ / _ " _ " _ " * / + / + / / / * " * " _ / / / * / ~ / ~ / _ / _ / ~ / ~</li>-->
<!--    <li>~ / ~ / ~ / ~ / ~ + ~ / ~ ) * / * * * : * : _ " : * : * : _ * * _ ' + * _ / ~ / ^ ) ~ / ^ / ^ / * /</li>-->
<!--    <li>/ _ / _ / * / _ / ~ / * / ~ ~ " * * : * : * : : _ " * * * / / _ * / + * ~ ) ^ ) ~ / ^ ) ~ ) ~ ) ~ /</li>-->
<!--    <li>~ / ~ / ~ / ~ / ~ + ~ / ~ ) * * : : * : * : / * / * / * / / * * " _ r * ) ~ / ~ / ~ ) ^ / ~ / ~ / ~</li>-->
<!--    <li>/ _ / _ / _ / ~ / ~ / _ / ~ ~ / + / _ " _ " _ " _ " _ : : : : * : _ < ~ ~ / _ / _ / ~ / _ / _ / _ /</li>-->
<!--    <li>~ / ^ / ~ / ^ ) ^ ) ~ / ~ ) / / / : " _ " _ * * / * * * / + / * * < ` ) / _ / ^ / ^ / * / ~ / ~ / ~</li>-->
<!--    <li>/ * / _ / ~ ) ~ / ^ / * / ^ ~ ) , + : * : * : _ " * * / * * _ : / _ _ / ~ / ^ ) ~ ) ~ / ^ ) ^ ) ~ /</li>-->
<!--    <li>/ ~ / ~ ) ~ / ^ / _ / ~ / _ / ^ ) ~ / _ " _ " _ * : * : _ * * + / - / ~ / _ / ~ / ~ / _ / ~ / ~ + ~</li>-->
<!--    <li>~ + ~ / ~ / _ / ~ / _ / ~ / ~ / ~ / - / * ' * ' * _ " : " " / c ~ ) / _ / ~ / _ / _ / ~ / _ / ~ / ~</li>-->
<!--    <li>/ ~ / ~ ) ~ / ~ + ~ / ~ / _ / _ / _ / ~ @ @ 4 } } + k d X R @ ~ ~ / ~ / ~ + ~ / ~ / ^ ) ~ / ^ / * /</li>-->
<!--    <li>~ + ~ + ~ / _ / ~ / * / * / ^ / ~ / ^ / ~ @ O R R B W @ @ @ / / _ / _ / ~ / _ / _ / ~ / ~ ) ~ ) ~ /</li>-->
<!--    <li>/ ~ / ~ / ~ / ^ / * / ~ / ~ / ~ + ~ ) ~ ~ H @ R O O # @ @ R ~ * / ~ / ^ ) ^ / ~ / ^ ) ~ ) ~ / ~ / ~</li>-->
<!--    <li>>~ + ~ + ~ + ~ ) ~ / ~ + ~ + ~ ) ~ / ^ / ~ / z 4 O 4 @ N 4 ~ ~ / ~ + ~ / ~ / * / ~ / ^ / ^ / _ / _ /</li>-->
  </ul>
  </p>
</body>
</html>