<!DOCTYPE html>
<html>
<head>
  <div>
    <meta charset="UTF-8">
    <title>Brayden Ascii Lab</title>
  </div>
</head>
<body>
  <h1>DNHS - ASCII</h1>
  <p>
  <ul style="font-family:Courier New">
    <li>%%%%%&&&&&&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##############################################(**############################################%%%%%%%#######%%%%%%%########%%%%%%%#######%%%%%%%####</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#################################################&((((#///*/############################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%###%%######################################################%((#(&#@/*((((//**#######################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%############################################################%((#(((&%#(/((&&(((*(//**(#################################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##########################################################%#%&%(,*#*/(&%%(*/(%(&%&#/(//**############################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%#%%######################################((###################%%%%&&//#(#%&#,,##/,(,/..(*##%%(*,///**#######################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%#############################################################&#%%%&&#(**&%,#(#/(%(...*(,***.../#(&%%###/(**(#################################################################</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%###########################################(((###############&#%%&#(./#*//%.,*((,/#(,,//,(%#%%%%(#(#(.##(/((%%(//*(##############################(((((((((######(((############</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%####################################################((((######%#%&##*((./,(/*#(**(#,#%/,,,%%&#((###(###/((/*(%##(###%######################((((((((((#((((((((((((((((((((########</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%#############################################################%%&/#,(,((.***/(#/**(.,/%/,,,%%%#(........,,,/*#((###################(#((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%###############################((((((((((////////////////***,,,,,,**/((,/..,##.,*(%%(//   (%%#*(**(#%#//**//############(#((((((((((((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%#%##############%%%%%%%%%%%%&&&(((((((((/////////////////****************.,/,#(/** .//*   /%&%*#*(,,,,,,*,&(###########(###(((((((((((((((((((((((((((((((((((((((((((((((((((((((</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%#%###########%%%%%%%%%%%%%&&%((&&&(/(////////////&&&///**(#********%##*.., (.,/&&&@&&&&&&&&%.(#/,.(,..,.%%//////////((#((((((((((((((((((((((((((((((((((((((((((((((#(((((((###</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%########%%%%%%%%%%%%%&&%(((/((((/////////////////*************(##*.,#%&&&@@@@@@&&&&@&&& ...*.... . /&(/////////////#(((((((((((((((((((((((((((((((((((((((((##############</li>
    <li>%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#####%%%%%%%%&&&&&&&%#((/((/////////////////***(*******(*****,, .%&&&&&@@@@@&&&&&&&&..,.*...... ,&#///%//(////&(##(((((((((((((((((((((((((#((#######(##################</li>
    <li>%%%%%%%%%%%%%%%%%%#########%%%%%################(##(((((((((((///////////#************@&%#,,,** .%&&&&&&&&&@%&&&&&&&,,**/((###%##%&/////////%(((########################################################</li>
    <li>%%%%%%%%%%%%%%%#####%%%%%%%%##%%%%%%%%###########(*(//(*****((/(((((/////********(%%***#,,,,/(*,.&&&&&&&&&&&&%&&&&&%/,.....,*.,**&&***//((((/////(((##%%%%%%%%%%%######((######################&&%######</li>
    <li>%%%%%%%%%%%%%%%####%%%&%&&&%%%%%%%%%%%############((((((((((((((((((/(////**********,,,#,,,****,,&&&&&&&&&&&&%%&&&%%/*,**,(,,,*(/&&////##(((%%%%%%%%%%%%%%%%%%%%%%#####(///******/*******//#####%#%%%%%%</li>
    <li>%%%%%%%%%%%%%&&%%%%%%%&%&&&&%%%%&&&&&&%##%%%######(((((((((((((#((((/(////#(*****,,,,,,#,,,,,,*#%&&&&&&&&&&&&%%%&&%#%%%@&&&&%&&&&&&#//####%%%%%%%%%%%%%%%%%%%%%%%%#####(///**/,/#%%%%%&&&&%%#(*#%#/#&/(#</li>
    <li>%%%%%%%%%&%&%&&&&&&%%%%%%&&&&%%%&&&&&&%&%#####%###((((((((((##((##&#/(///*****,,,,,,,,,%*,,,,,,(%&#&&&&&&&%%&%%%%&%#%%%&%%%&&&&&&&&&*//########%%%%%%%%%%%%%%%%%%%#####(///****(//(///////((&##%%#(%@((#</li>
    <li>&&%%%%%%&&&%&&&&&&&&&&&&&&&&&&&%%%%&&&&&%%%%%%%&%#((((#((#&&%%&%#%#%(//(/**************#,,,,,,,,,./((*,*/#(%&%%%%%%###((((((%(%%&&&&*.*(((#####(##%%%%%%%%%%%%%%%%%#(##(///***,///#((((###%%%%&(#(#(%%%#</li>
    <li>&&&&%%%%%%%%%%&&&&&&&&&&&&&&&&&&&&&&&%%%&%&&&&&&%#(((((((&#%&#&(%&%(,(((/**,,/*/*((/*(,#***#((*(//@(//***((%&&%%%%%/,//((*(#.  *&&&&** *   /###((,/*,*//,((, .#*,#######/////((/ ...**/*(#%#&&%.(,.,.,.,</li>
    <li>###############(############((/(####(######(#(%#%&@&%((#%%(#%%##%#(#(((( /,,*..( ,#,,(,(*,.   .(*/&*,,,*.**%&&%%%%%,.,,*,*/****(&&&&%, ....,((((/ ..,/ (.//,.,(*,#######////(/(/.*../*(*%&&&&&&./*/*,,*,</li>
    <li>%(##%%%%%%%%###%%##(.(,.../....(., ./,,..,.,,/%#(#(#%%%%##&%%%&#&&##&&&%*/*.,..%@@&@&%./*,,..../..&*,.,,.**%&&%%%%&/,, . ,**///#&&&&&, ,,**/#((((  ,**./.**,.,*,,#######(//((%#/*/*,**/*(((((%#%(/%#&@@#</li>
    <li>%/((#%##((/*.      ..,,.,*/,(,((#(((#(///,,*,*##((((%&(&&&&&&#&%&&&%%##(....((/%#%(&&%*(/.(,...(,*&*,.....,%&&%%%%%#...,,,,****#&&&&&/*,..  .....        .,*(/#/%#######(//(((((//*/##%&&&%%%%%##(*,**//</li>
    <li>%,,**((/.  ... ....***/,/#/#,(#(///(#%/////***##((((%%%&#&%&&@@&&@@&&(#(,....,/, ..,/%@#(/%#/,,,,*,*,,,.. ,%&&%%%%%% ....  ,,,,#&&&&&%%######((((///*,,,,,......,,,**/#%&%((#%%%%%%&%%%%%%%%%%%#%###%%#%</li>
    <li>%..,,//*,(,*.....,,/**/#//*//*((/(*,(*,,.*/*,*####%&((##%##&@&@&&#%&//%*,,,**/*(*//#(&&&%%%&%%&#%##(##(####%%%%%#(*,.........,,.....,*///((((####(###((################%%%#%%%%%%%%%%%%%&%%%%%%%%%%%%%%&</li>
    <li>%....//*,%##*******((**###*#%##///,,/,,**/*,,,###(#(##&@%@#&%&&&&&#&///(((/(((&%%#(((&@%@%##&&&%@(#############((//**,,,,......,,,**//(##%%%#%%%%%%%%%####%%####%#&%%%%%#####################%##%###(###</li>
    <li>%....//*#%%/,/////((/*/##%/###((/***(/*/*(/*/*#((((#&&&&&@%#%%&&&((#/##########%%#%#&%&&&%&&&@#%%##%%%(#(((######(####((/(((#######(((((##%##%%%#%%#######(#########%%%%&&%#%%#####(#((((###############</li>
    <li>%.,,,(((////*/(((((/*,*****////((((((#((((((((#####%%%#&%%&&%%%%%%%%%%%%%%%####&&@&@&%%%@%%&&&%&@&%%%&#%########(#(#####((//////////////////////((((((##(((##(##((###%%%%%%%#%%%%%%&%#######(##(((//((##</li>
    <li>/*,,............ .. .........,,,,,,,..,**(((##%%%%%%%%%%%%#&%%%%%%%%#%###%%%#%@&@@@@#%&%&&&@&&&#@%&((##((##########((//////////*//(((///(((((((((((((((((((##############%%%%%%%%%%%%%%%%%%%%%%%#####//</li>
    <li>,/,,..,  .* .. .    ...............,**////(#####%%%%%%%%%##%%%%%%%%%%%######&%&%&&&&@@&%@@&&&@%&@%%%#%#%(((###((###((((((((((((((((/(((((((((((((((((((((################%%##%%#####((((((((((((((((((((</li>
    <li>%%((%%&&@&%(#..,(#%#(#(((##%%*,**/(######%%%%%%####%#%%%%%%%&%%%%%%%%#%%###%&@@@&@@%@@@&&&@@&@@&%&&@&%%#&(#(##############((###(((((((((((((((#########(////////(///////////(####%##%%%%##%#####%%%%####</li>
    <li>@&%#######&##%%&&&&&&%&&%%%%%%%%##(((((/(((((#####%%%%%%%%&%&&@&%@&%@&@&%%%##%@@%@&@@&@&&&&@@@&#&%@@%&#&#(##((##########################((///////////////(#########(####################%%#%%%%%##%%%###</li>
    <li>&&&&&&&&@@&%%%%%%%&&&&&&&&&&%#((####(((#(((######%%%%%%%&&&@%&&&&&&&&&&&#%%%%%&%&@@&@&@&&&&@@@&@@@@&&&&&%%%(#((#############((((((((((((((((############################################################</li>
    <div>
      <img src="../images/dnhsschool2.jpg" alt="braydenascii">
    </div>
  </ul>
</body>
</html>