<!--<!DOCTYPE HTML>-->
<!--&lt;!&ndash; Signals to the Layout Dialect which layout should be used to decorate this View &ndash;&gt;-->
<!--<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"-->
<!--      layout:decorate="~{layout}" lang="en">-->

<!--&lt;!&ndash; <head> &ndash;&gt;-->
<!--<div layout:fragment="metadata" th:remove="tag">-->
<!--    <title>Covid-19 RapidAPI</title>-->
<!--    <style>-->
<!--        table, td, th {-->
<!--            border: 1px solid white;-->
<!--        }-->
<!--        td, th {-->
<!--            text-align:right;-->
<!--        }-->
<!--        td:first-child, th:first-child {-->
<!--            text-align: left;-->
<!--        }-->
<!--    </style>-->
<!--</div>-->

<!--&lt;!&ndash; <body> &ndash;&gt;-->
<!--<div layout:fragment="content" th:remove="tag">-->
<!--    <div class="container">-->

<!--        <div class="row justify-content-md-center">-->
<!--            <h1><strong>COVID-19 rapidapi.com </strong></h1>-->
<!--            <form action="/data/covid19" method="GET" id="covidForm">-->
<!--                <button>Refresh!</button>-->
<!--            </form>-->
<!--        </div>-->

<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>Time</th>-->
<!--                <th>All-time Cases</th>-->
<!--                <th>Recorded Deaths</th>-->
<!--                <th>Active Cases</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                &lt;!&ndash; Usage of Java HashMap and Thymeleaf &ndash;&gt;-->
<!--                <td th:text="${map.world_total.statistic_taken_at}"></td>-->
<!--                <td th:text="${map.world_total.total_cases}"></td>-->
<!--                <td th:text="${map.world_total.total_deaths}"></td>-->
<!--                <td th:text="${map.world_total.active_cases}"></td>-->
<!--            </tr>-->
<!--        </table>-->

<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>Country</th>-->
<!--                <th>All-time Cases</th>-->
<!--                <th>Recorded Deaths</th>-->
<!--                <th>Active Cases</th>-->
<!--            </tr>-->
<!--            &lt;!&ndash; Usage of JSON object and Thymeleaf &ndash;&gt;-->
<!--            <tr th:each="country : ${jo.countries_stat}">-->
<!--                &lt;!&ndash;/*@thymesVar id="country_name" type="java"*/&ndash;&gt;-->
<!--                <td th:text="${country.country_name}"></td>-->
<!--                &lt;!&ndash;/*@thymesVar id="cases" type="java"*/&ndash;&gt;-->
<!--                <td th:text="${country.cases}"></td>-->
<!--                &lt;!&ndash;/*@thymesVar id="deaths" type="java"*/&ndash;&gt;-->
<!--                <td th:text="${country.deaths}"></td>-->
<!--                &lt;!&ndash;/*@thymesVar id="active_cases" type="java"*/&ndash;&gt;-->
<!--                <td th:text="${country.active_cases}"></td>-->
<!--            </tr>-->
<!--        </table>-->

<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>World Using map get</th>-->
<!--            </tr>-->
<!--            <td th:text="${map.get('world_total')}"></td>-->
<!--            </tr>-->
<!--        </table>-->

<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>World Using map variable</th>-->
<!--            </tr>-->
<!--            <td th:text="${world_map}"></td>-->
<!--            </tr>-->
<!--        </table>-->

<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>World Using JSON object get</th>-->
<!--            </tr>-->
<!--            <td th:text="${jo.get('world_total')}"></td>-->
<!--            </tr>-->
<!--        </table>-->

<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>World Using JSON object get</th>-->
<!--            </tr>-->
<!--            <td th:text="${world_jo}"></td>-->
<!--            </tr>-->
<!--        </table>-->

<!--    </div>-->
<!--</div>-->

<!--</html>-->