<!-- This page is illustrative and contains ideas com.example.sping_portfolio.about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>CTC</title>
    <style> img{
        max-width: 25%;
        max-height: 25%;
        display: block; /* remove extra space below image */
    }
    .box{
        width: 250px;
        border: 5px solid black;
    }
    .box.large{
        height: 300px;
    }
    .box.small {
        height: 100px;
    }
    </style>
</div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
    <div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
        <div id="spring_intro" class="articles" style="margin: 30px;">

           <h3><strong>What is CTC?</strong></h3>
            <ol>
               CTC is a student lead group attempting to create a program that allows people to review classes at Del Norte
            </ol>

           <h3><strong>Taking a deeper dive...</strong></h3>
            <iframe width="420" height="238" src="https://www.youtube.com/embed/bKQv8Rsse3k">
            </iframe>

        </div>
    <!-- End of body content specific to page -->
    </div>
</body>

</html>