<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
</head>
<body>
<h1 style="text-align:center;">Campus</h1>

<h4 style="text-align:center;">&#10148; Click parts of the map </h4>

<map name="continents_map">

    <area shape="circle" coords="70,70,10" href="northamerica">

    <area shape="circle" coords="133,185,10" href="south_america">

    <area shape="circle" coords="270,137,10" href="africa">

    <area shape="circle" coords="292,44,10" href="europe">

    <area shape="circle" coords="469,201,10" href="australia">

    <area shape="circle" coords="374,65,10" href="asia">

    <area shape="circle" coords="340,267,10" href="antartica">

</map>

<figure style="text-align:center;">

    <img usemap="#campusdnhsmap" src=../images/campus.png width="600px" />

    <figcaption>DNHS Campus Map</figcaption>

</figure>
</body>
</html>