<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
</head>
<body>
<h1 style="text-align:center;"> DNHS Campus</h1>

<h4 style="text-align:center;">&#10148; Click parts of the campus</h4>

<!-- wanted to fix from world map -->

<map name="continents_map">

    <area shape="circle" coords="70,70,10" href="/footballfield">

    <area shape="circle" coords="133,185,10" href="/pool">

</map>

<figure style="text-align:center;">

<img usemap="#campusdnhsmap" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Del_norte_wiki.png" width="1000px"/>
    <figcaption>DNHS Campus Map</figcaption>

</figure>
</body>
</html>