<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>North America</title>
</head>
<body>
<h1>Facts About North America</h1>
<!--<img src=".../images/northamerica.jpg" alt="NA" width="500" height="600">-->
<ul>
    <li>There are 23 countries in North America (see list of the ten biggest countries on the right) and 9 dependencies with a total of more than 590 million people living on the continent.</li>
    <li>Largest Country: Canada. The country is covering almost half the North American continent's land area. Canada is slightly bigger than the USA and about as big as China. Read more about Canada here.</li>
    <li>Largest City: Mexico City, which is the capital city of Mexico with a population of about 9 million. With more than 20 million inhabitants in the metropolitan area, this is one of the largest cities in the world. Read more about Mexico here.</li>
    <li>Smallest Country: St Kitts and Nevis with only about 54,000 inhabitants. This island country is located in the Caribbean Sea. The least populated dependency is Montserrat, a British Overseas Territory, with less than 6,000 inhabitants.</li>
</ul>
</body>
</html>