<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TikTac</title>
</head>
<script>
    private int moredetailsbox;
    if(moredetailscheck.isSelected()) {
        moredetailsbox = 1;
    } else {
        moredetailsbox = 0;
    }
</script>
<body>
<table>
    <tr>
        <input type="checkbox" name="Books">
        <input type="checkbox" name="Web">
        <input type="checkbox" name="Phone">
    </tr>
    <tr>
        <input type="checkbox" name="Books">
        <input type="checkbox" name="Web">
        <input type="checkbox" name="Phone">
    </tr>
    <tr>
        <input type="checkbox" name="Books">
        <input type="checkbox" name="Web">
        <input type="checkbox" name="Phone">
    </tr>
</table>
<table>
    <tr>
        <input type="checkbox" name="Books">
        <input type="checkbox" name="Web">
        <input type="checkbox" name="Phone">
    </tr>
    <tr>
        <input type="checkbox" name="Books">
        <input type="checkbox" name="Web">
        <input type="checkbox" name="Phone">
    </tr>
    <tr>
        <input type="checkbox" name="Books">
        <input type="checkbox" name="Web">
        <input type="checkbox" name="Phone">
    </tr>
</table>
</body>
</html>